APP_ROOT=/home/dev/backend
GO_PORT=7744

# DB周り
MYSQL_USER=user
MYSQL_PASSWORD=password
DB_HOST=mysql # DB_HOSTにはDBコンテナ名を入れる。
DB_PORT=3306 # コンテナ間のport
MYSQL_PORT=3307 # コンテナのport
MYSQL_DATABASE=development
MYSQL_TEST_DATABASE=test
